# Анализ взаимодействия пользователей с платформой Яндекс.Дзен

# Описание проекта
Мы работаем аналитиком в Яндекс.Дзене, где, в основном, занимаемся анализом пользовательского взаимодействия с карточками статей.
Каждую карточку определяют её тема и источник (у него тоже есть тема). Примеры тем: «Красота и здоровье», «Россия», «Путешествия».
Пользователей системы характеризует возрастная категория. Скажем, «26-30» или «45+».

Есть три способа взаимодействия пользователей с системой:
- Карточка отображена для пользователя (show);
- Пользователь кликнул на карточку (click);
- Пользователь просмотрел статью карточки (view).

Каждую неделю менеджеры высылают задачи, связанные с пользовательским взаимодействием с платформой: 
- Cколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек?
- Как много событий генерируют источники с разными темами?
- Как соотносятся темы карточек и темы источников?

Для автоматизации процессов было решено сделать дашборд и наша задача, как аналитика, это реализовать. Дашборд будет основываться на пайплайне, который будет брать данные из таблицы, в которых хранятся сырые данные, трансформировать данные и укладывать их в агрегирующую таблицу. Пайплайн будет разработан для нас дата-инженерами.

Структура таблицы **dash_visits**:
- **record_id** — первичный ключ
- **item_topic** — тема карточки
- **source_topic** — тема источника
- **age_segment** — возрастной сегмент
- **dt** — дата и время
- **visits** — количество событий

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Создадим коннекцию к базе данных
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [3]:
# Сохраним запрос в переменную 'query'
query = '''
           SELECT * 
           FROM dash_visits 
        '''

In [4]:
# Сохраним запрос к подключенной БД в переменную 'dash_visits'
dash_visits = pd.io.sql.read_sql(query, con = engine) 
dash_visits

,record_id,item_topic,source_topic,age_segment,dt,visits
0,1040597,Деньги,Авто,18-25,2019-09-24 18:32:00,3
1,1040598,Деньги,Авто,18-25,2019-09-24 18:35:00,1
2,1040599,Деньги,Авто,18-25,2019-09-24 18:54:00,4
3,1040600,Деньги,Авто,18-25,2019-09-24 18:55:00,17
4,1040601,Деньги,Авто,18-25,2019-09-24 18:56:00,27
...,...,...,...,...,...,...
30740,1071337,Юмор,Финансы,36-40,2019-09-24 18:57:00,2
30741,1071338,Юмор,Финансы,36-40,2019-09-24 19:00:00,1
30742,1071339,Юмор,Финансы,41-45,2019-09-24 18:54:00,1
30743,1071340,Юмор,Финансы,41-45,2019-09-24 18:56:00,1
30744,1071341,Юмор,Финансы,41-45,2019-09-24 19:00:00,1

In [5]:
# Выгрузим полученную таблицу на локальный диск
dash_visits.to_csv('dash_visits.csv', index=False)

В рамках этого проекта, мы ответим на поставленные вопросы в презентации с использованием выполненного дашборда.

Ссылка на презентацию: [Презентация](https://disk.yandex.ru/i/1CpkOQCBHu6OKQ)

Ссылка на дашборд: [Дашборд](https://public.tableau.com/views/YandexPracticum-Dzen_16908555890900/_?:language=en-US&:display_count=n&:origin=viz_share_link)